<div class="row">
  <%= image_tag "/images/rob_kayak.jpg",       :class => "about-pic img-rounded" %>
  <%= image_tag "/images/rob_jon_wedding.jpg", :class => "about-pic img-rounded" %>
  <%= image_tag "/images/family_disney.jpg", :class => "about-pic img-rounded" %>
</div>

<hr/>

<p>Hi, I'm Robert Jackson.</p>

<p>I spend most of my free time chasing around my two awesome little boys (<%= age_in_years Date.new(2008,1,9) %> and <%= age_in_years Date.new(2009,7,16) %> years old) with my lovely wife (of <%= age_in_years Date.new(2006,3,17) %> years). We enjoy taking short mini-vacations as often as possible (our most common destination is Disney).</p>

<p>I am currently an in-house developer for a medical billing company located in Ocala, FL. I have been a professional developer for roughly <%= age_in_years Date.new(1999,6,1) %> years. During the first few years I was writing mostly VB, C#, and Java code, then I switched to Ruby (and ultimately Rails) in 2006.</p>

<%= partial 'wufoo' %>
